* {
    padding: 0;
    margin: 0;
    font-family:sans-serif ;
}

h1 {
    text-align: center;
    padding: 50px;
}

/*menu principal iglesia cafayate*/
h2 {
    text-align: center;
}
.mapa-cafayate {
    width: 100%;
    height: 300px;
}

.mapa-cafayate {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    border-radius: 8px;
}

.mapa-cafayate:hover {
    background-color: rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

.iglesia-menu {
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.iglesia-menu:hover {
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5; 
}

.imagen-iglesia {
    display: flex;
    width: 46%;
    transition: 0.4s;
}

.imagen-iglesia:hover {
    width: 50%;
}

.letra-iglesia {
    display: flex;
    width: 60%;
    text-align: center;
    padding: 50px;
}

/*colectivo cafayate*/

.colectivo-menu {
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.colectivo-menu:hover {
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}


.imagen-colectivo {
    display: flex;
    flex-direction: row-reverse;
    width: 38%;
    transition: 0.4s;
}

.imagen-colectivo:hover {
    width: 50%;
}

.letra-colectivo {
    display: flex;
    flex-direction: center;
    width: 60%;
    text-align: center;
    padding: 50px;
}

/*video */

.videos-cafayate {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.videos-cafayate:hover {
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

.video{
    width: 500px;
    height: 300px;
}

/*menu-nav*/

.nav-link {
    text-decoration: none;
    color: #640202;
    font-size: 1.8ram;
}

.nav-link:hover {
    color: #fd0000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    color: #ff0000;
    background-color: #000000;
    border: var(--bs-border-width) solid #000000;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;

}

/*imagen principal*/

.principal img {
    height: 40rem;
}

.principal h1 {
    text-align: center;
}

/*menu-footer*/

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.d-flex {
    display: flex !important;
}

.cards__container {
    width: 100%;
    padding: 20px;
}

.text-body-secondary {
    color: black;
}

/*Historia menu principal*/

.principal-1 img {
    width: 100%;
}

.principal h1 {
    text-align: center;
}

/*menu principal de municipalidad de cafayate*/

.letra-cafayate{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.municipalidad-menu {
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.municipalidad-menu:hover {
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}

.imagen-municipalidad {
    display: flex;
    width: 30%;
    height: 30%;
    transition: 0.4s;
}

.imagen-municipalidad:hover {
    width: 25%;
}

.letra-muni {
    display: flex;
    width: 60%;
    text-align: center;
    padding: 50px;
}

/*Escudo de la municipalidad de cafayate*/

.escudo-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.escudo-menu:hover {
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}

.imagen-escudo {
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    height: 20%;
    transition: 0.4s;
}

.imagen-escudo:hover {
    width: 25%;
}

.letra-municipal {
    display: flex;
    width: 60%;
    text-align: center;
    padding: 50px;
}

/*virgen del rosario*/

.virgen-menu {
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.virgen-menu:hover {
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}

.imagen-rosario {
    display: flex;
    flex-direction: end;
    width: 20%;
    height: 20%;
    transition: 0.4s;
}

.imagen-rosario:hover {
    width: 20%;
}

.letra-rosario {
    display: flex;
    width: 45%;
    text-align: center;
    padding: 50px;
}

/*Gauchos de Cafayate*/

.gauchos-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.gauchos-menu:hover {
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}

.imagen-gauchos {
    display: flex;
    flex-direction: row-reverse;
    width: 120%;
    height: 120%;
    transition: 0.4s;
}

.imagen-gauchos:hover {
    width: 25%;
}

.letra-gauchos {
    display: flex;
    width: 40%;
    text-align: center;
    padding: 50px;
}

/*La Plaza Principal de Cafayate*/

.plaza-menu {
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.plaza-menu:hover {
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}

.imagen-plaza {
    display: flex;
    flex-direction: end;
    width: 30%;
    height: 30%;
    transition: 0.4s;
}

.imagen-plaza:hover {
    width: 25%;
}

.letra-plaza {
    display: flex;
    width: 45%;
    text-align: center;
    padding: 50px;
}

/*Turismo Pueblo de Cafayate*/

.paseos-cafayate{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.paseos-cafayate:hover{
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    row-gap: 15px;
    font-size: 21px;
    padding: 5px;
}
.grid-container:hover{
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}
.grid-item img{
    width: 600px;
    height: 600px;
    border: 20px solid  rgb(151, 29, 29);
    border-radius: 1rem;
    filter:blur(2px);
}

.grid-item img:hover{
    filter:blur(0);
}

.grid-item{
    display:table-column-group;
    justify-content:stretch;
    align-items:center;
    padding: 1rem;
}


/*Viñedos de Cafayate*/

.letras-bodegas{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.grid-galerias{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 10px;
    font-size: 21px;
    padding: 5px;
}
.grid-galerias:hover{
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
    color: #f7f1e5;
}
.grid-galeria img{
    width: 600px;
    height: 600px;
    border: 10px solid  rgb(151, 29, 29);
    border-radius: 1rem;
    filter:blur(2px);
}

.grid-galeria img:hover{
    filter:blur(0);
}

.grid-galeria{
    display:table-column-group;
    justify-content:stretch;
    align-items:center;
    padding: 1rem;
}
.letras-viñedos{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
}
/*Contacto*/

.contacto { 
    background-image: linear-gradient(120deg,rgb(77, 23, 23), #6fbdc7  );
    color: #f7f1e5;
}
input {
    width: 500px;
}

.botonenviar input {
    width: 50px;
}

textarea {
    width: 500px;
}

@media (max-width:768px){
    .letra-iglesia {
        width: 0%;
    }

    .iglesia-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }

    .imagen-iglesia {
        display: flex;
        width: 70%;
        transition: 0.4s;
    }

    .letra-iglesia {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }

    .colectivo-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }

    .imagen-colectivo {
        width: 70%;
        transition: 0.4s;
    }

    .letra-colectivo {
        display: flex;
        flex-direction: center;
        width: 100%;
        text-align: center;
        padding: 50px;
    }

    .videos-cafayate {
        display: flex;
        flex-wrap: wrap;
    }
    .video{
        width: 300px;
        padding: 1rem;
    }
    .principal img{
        height: 350px;

    }
    .principal h1{
        font-size: large;
        padding: 50px;
    }
    .principal h2{
        font-size: large;
    }
    
/*Historia*/

.municipalidad-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-municipalidad {
    display: flex;
    width: 40%;
    height: 40%;
    transition: 0.4s;
}
.letra-muni {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.escudo-menu {
    display: flex;
    flex-direction:row-reverse ;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-escudo {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    transition: 0.4s;
}

.letra-municipal {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.virgen-menu {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-rosario {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    transition: 0.4s;
}

.letra-rosario {
    display: flex;
    width: 80%;
    text-align: center;
    padding: 50px;
}

.gauchos-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-gauchos {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    transition: 0.4s;
}

.letra-gauchos {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.plaza-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-plaza {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    transition: 0.4s;
}

.letra-plaza {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
    }
    
    /*Turismo*/

    .grid-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;

    }
    .grid-item img{
        width: 100%;
        height: 100%px;
        border: 10px solid  rgb(151, 29, 29);
        border-radius: 1rem;
    }

    /*Viñedos*/
    
    .letras-bodegas {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .letras-viñedos{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .grid-galerias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 10px;
        transition: 0.4s;

    }
    .grid-galeria img{
        width: 130%;
        height: 130%;
        border: 5px solid  rgb(151, 29, 29);
        border-radius: 1rem;
    }

    .videos-cafayate {
        display: flex;
        flex-wrap: wrap;
    }
    .video{
        width: 300px;
        padding: 1rem;
    }
    
    /*Contacto*/

    .contacto { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #640202;
        color: #f7f1e5;
    }
    input {
        width: 500px;
    }
    
    .botonenviar input {
        width: 50px;
    }
    
    textarea {
        width: 500px;
    }

    .img{
        width: 90px;
        height: 90%px;
        border: 10px solid  rgb(151, 29, 29);
        border-radius: 1rem;
    }
}

@media (max-width:425px) {

    .mapa-cafayate {
        width: 300px;
        height: 300px;
    }

    .letra-iglesia {
        width: 0%;
    }

    .iglesia-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }

    .imagen-iglesia {
        display: flex;
        width: 70%;
        transition: 0.4s;
    }

    .letra-iglesia {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }

    .colectivo-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }

    .imagen-colectivo {
        width: 70%;
        transition: 0.4s;
    }

    .letra-colectivo {
        display: flex;
        flex-direction: center;
        width: 100%;
        text-align: center;
        padding: 50px;
    }

    .videos-cafayate {
        display: flex;
        flex-wrap: wrap;
    }
    .video{
        width: 300px;
        padding: 1rem;
    }
    .principal img{
        height: 200px;

    }
    .principal h1{
        font-size: large;
        padding: 1rem;
    }
    .principal h2{
        font-size: large;
    }

/*Historia*/

.historia-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}
.letra-cafayate{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.municipalidad-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-municipalidad {
    display: flex;
    width: 80%;
    height: 80%;
    transition: 0.4s;
}
.letra-muni {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.escudo-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-escudo {
    display: flex;
    flex-direction: column ;
    width: 40%;
    height: 40%;
    transition: 0.4s;
}

.letra-municipal {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.virgen-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-rosario {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    transition: 0.4s;
}

.letra-rosario {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.gauchos-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-gauchos {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    transition: 0.4s;
}

.letras-gauchos {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.plaza-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    margin: 9px;
    background-color: #f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
}

.imagen-plaza {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    transition: 0.4s;
}

.letra-plaza {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 50px;
    }

    /*Turismo*/

    .grid-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 10px;
        transition: 0.4s;

    }
    .grid-item img{
        width: 300px;
        height: 300px;
        border: 5px solid  rgb(151, 29, 29);
        border-radius: 1rem;
    }

    /*Viñedos*/
    
    .letras-bodegas {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .letras-viñedos{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .grid-galerias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 10px;
        transition: 0.4s;
 }

    .grid-galeria img{
        width: 100%;
        height: 100%;
        border: 5px solid  rgb(151, 29, 29);
        border-radius: 1rem;
    }

    .videos-cafayate {
        display: flex;
        flex-wrap: wrap;
    }
    .video{
        width: 300px;
        padding: 1rem;
    }

    
    /*Contacto*/

    .contacto { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #640202;
        color: #f7f1e5;
    }
    input {
        width: 300px;
    }
    
    .botonenviar input {
        width: 50px;
    }
    
    textarea {
        width: 300px;
    }

    .img{
        width: 60px;
        height: 60%px;
        border: 10px solid  rgb(151, 29, 29);
        border-radius: 1rem;
    }

    .logo-ruta40{
        width: 200px;
    }
}
