
/*Contacto*/

.contacto { 
    background-color: $c-vino;
    color: $c-blanco;
}
input {
    width: 500px;
}

.botonenviar input {
    width: 50px;
}

textarea {
    width: 500px;
}
.logo-ruta40{
    width: 200px;
}