/*Viñedos de Cafayate*/

.letras-bodegas {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.contenedor-galeria {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2px;
    row-gap: 2px;

    &-galeria img {
        width: 100%;
        border: 5px solid $c-rojo;
        border-radius: 1rem;
    }
}

.grid-galeria {
    display: table-column-group;
    justify-content: stretch;
    align-items: center;
    padding: 1rem;
}

.letras-viñedos {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
}